<% const players=serverData.playerHandler %>

  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Players</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/website/players/players.js" defer></script>
    <link rel="stylesheet" href="/website/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
  </head>

  <body>
    <nav>
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="white"
        onclick="window.location.href='/servers'">
        <path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z" />
      </svg>
      <div id="nav-title" onclick="window.location.href='./'">
        <h1>Sick mc server</h1>
        <p>
          <%= serverIp %>:<%= serverData.port %>
        </p>
      </div>
      <div id="nav-pages">
        <a href="./settings">settings</a>
        <a href="./players">players</a>
        <a href="./console">console</a>
        <a href="./plugins">plugins</a>
        <a href="./backups">backups</a>
      </div>
    </nav>
    <main id="server-players-page">
      <div class="players-container">
        <h2>Online players</h2>
        <div id="onlinePlayers">
          <% for(let i=0;i<players.onlinePlayers.length;i++){ %>
            <div>
              <img src="https://mc-heads.net/avatar/<%= players.onlinePlayers[i] %>/40" />
              <div>
                <p>USERNAME</p>
                <p>
                  <%= players.onlinePlayers[i] %>
                </p>
              </div>
              <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                <path fill="white"
                  d="M480-160q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm0-240q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm0-240q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Z" />
              </svg>
            </div>
            <%}%>
        </div>
      </div>
      <div class="players-container">
        <div>
          <h2>Whitelisted players</h2>
          <svg class="player-adder-svg" onclick="openWhitelistMenu()" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960"
            width="24">
            <path fill="white" d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
          </svg>
        </div>
        <div id="whitelistedPlayers">
          <% for(let i=0;i<players.whitelistedPlayers.length;i++){ %>
            <div>
              <img src="https://mc-heads.net/avatar/<%= players.whitelistedPlayers[i] %>/40" />
              <div>
                <p>USERNAME</p>
                <p>
                  <%= players.whitelistedPlayers[i] %>
                </p>
              </div>
              <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                <path fill="white"
                  d="M480-160q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm0-240q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm0-240q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Z" />
              </svg>
            </div>
            <%}%>
        </div>
      </div>
      <div class="players-container">
        <div>
          <h2>Opped players</h2>
          <svg class="player-adder-svg" onclick="openOppedMenu()"  xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960"
            width="24">
            <path fill="white" d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
          </svg>
        </div>
        <div id="oppedPlayers">
          <% for(let i=0;i<players.oppedPlayers.length;i++){ %>
            <div>
              <img src="https://mc-heads.net/avatar/<%= players.oppedPlayers[i] %>/40" />
              <div>
                <p>USERNAME</p>
                <p>
                  <%= players.oppedPlayers[i] %>
                </p>
              </div>
              <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                <path fill="white"
                  d="M480-160q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm0-240q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm0-240q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Z" />
              </svg>
            </div>
            <%}%>
        </div>
      </div>
      <div class="players-container">
        <h2>All players</h2>
        <div id="allPlayers">
          <% for(let i=0;i<players.allPlayers.length;i++){ %>
            <div>
              <img src="https://mc-heads.net/avatar/<%= players.allPlayers[i] %>/40" />
              <div>
                <p>USERNAME</p>
                <p>
                  <%= players.allPlayers[i] %>
                </p>
              </div>
              <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                <path fill="white"
                  d="M480-160q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm0-240q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm0-240q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Z" />
              </svg>
            </div>
            <%}%>
        </div>
      </div>
    </main>
    <div id="darkener" onclick="closeMenu()" style="display: none;"></div>
    <div id="std-menu" style="display: none;">
      <h1 id="menu-title">Add player to whitelist</h1>
      <form id="player-form">
        <p>Name</p>
        <input id="player-name" class="small-input" onfocus="removeHiddenFromPlayerSearch()" onkeyup="reloadSearchPlayers()" type="text"autocomplete="off" />
        <button>Add</button>
        <div id="player-search">
        </div>
        <img id="selected-player-img" style="display: none;">
      </form>
    </div>
  </body>
  <script>
    let allPlayerList = JSON.parse(`<%- JSON.stringify(serverData.playerHandler.allPlayers) %>`)
  </script>
  </html>