<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Settings</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/website/std.js"></script>
    <script src="/website/settings/settings.js" defer></script>
    <link rel="stylesheet" href="/website/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body data-serverstatus="<%= serverData.status %>">
    <nav>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24"
        viewBox="0 -960 960 960"
        width="24"
        fill="white"
        onclick="window.location.href='/servers'"
      >
        <path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z" />
      </svg>
      <div id="nav-title" onclick="window.location.href='./'">
        <h1><%= serverData.data.name %></h1>
        <p><%= serverIp %>:<%= serverPort %></p>
      </div>
      <div id="nav-pages">
        <a href="./settings">settings</a>
        <a href="./players">players</a>
        <a href="./console">console</a>
        <a href="./plugins">plugins</a>
        <a href="./backups">backups</a>
      </div>
    </nav>
    <main id="server-settings-page">
      <div id="settings-selector">
        <h3>Settings</h3>
        <p>General</p>
        <p>Paper</p>
      </div>
      <div id="server-general-settings">
        <div>
        <% let i = 0; %>
        <% const settings = serverData.settingsHandler.clientSettings; %>
        <% const allClientSettings = serverData.settingsHandler.allClientSettings %>
        <% const halfSettings = Math.floor(Object.keys(settings).length / 2) %>
        <% for(const setting in settings) { %>
          <% const value = settings[setting] %>
          <div>
          <p><%= setting %></p>
          <% switch(allClientSettings[setting].type){ 
            case "bool": %>
              
              <label class="switch settings-styling">
                <input type="checkbox" data-jas="<%= "ja" %>" class="setting-item" onchange="main.editPopup.settingsChange()"  <%= value == "true" ? "checked" : "" %> data-setting-name="<%= setting %>">
                <span class="slider-round"></span>
              </label>
              <% break 
            case "int": %>
              <input type="number"  class="settings-styling setting-item" onchange="main.editPopup.settingsChange()" onkeyup="main.editPopup.settingsChange()" value="<%= value %>"data-setting-name="<%= setting %>">
              <% break 
            case "option": %>
              <select class="settings-styling setting-item" onchange="main.editPopup.settingsChange()" data-setting-name="<%= setting %>">
                <% for(let i = 0;i<allClientSettings[setting].options.length;i++){ %>
                  <% const isOptionSelected = allClientSettings[setting].options[i] == value %>
                  <option <%= isOptionSelected ? "selected" : "" %> ><%= allClientSettings[setting].options[i] %></option>
                <% } %>
              </select>
              <% break 
            case "string": %>
              <input type="text" onkeyup="main.editPopup.settingsChange()" class="settings-styling setting-item" value="<%= value %>" data-setting-name="<%= setting %>">
            <% break %>
          <% } %>
          </div>
          <% if(i + 1 == halfSettings){ %>
            </div>
            <div>
          <% } %>
          <% i++ %>
        <% } %>
        </div>
      </div>
    </main>

    <div id="edit-popup" style="display: none;">
        <p id="edit-popup-header">Server needs to restart to save changes</p>
        <div>
          <button onclick="main.editPopup.discardChanges()" id="edit-popup-discard-btn">Discard</button>
          <button onclick="main.editPopup.saveChanges(false)" id="edit-popup-save-btn">Save</button>
          <button onclick="main.editPopup.saveChanges(true)" id="edit-popup-restart-btn">Restart now</button>
        </div>
    </div>
  </body>
</html>
