<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/website/index.js" defer></script>
    <link rel="stylesheet" href="/website/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="servers">
      <div class="servers-header">
        <h1>Servers</h1>
        <button onclick="openNewServer()">New server</button>
      </div>
      <% for(let i = 0;i<serverData.length;i++){ %>
      <div onclick="window.location.href = '/servers/<%= i %>'">
        <img
          src="https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?q=10&h=200"
        />
        <div class="server-data">
          <h2><%= serverData[i].data.name %></h2>
          <p><%= serverData[i].data.type %> <%= serverData[i].data.version %></p>
        </div>
        <div class="server-status">
          <div class="server-status-color" style="background-color:<%= statusToColor(serverData[i].status) %>;"></div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            viewBox="0 -960 960 960"
            width="24"
          >
            <path
              fill="rgb(130, 130, 130)"
              d="m370-80-16-128q-13-5-24.5-12T307-235l-119 50L78-375l103-78q-1-7-1-13.5v-27q0-6.5 1-13.5L78-585l110-190 119 50q11-8 23-15t24-12l16-128h220l16 128q13 5 24.5 12t22.5 15l119-50 110 190-103 78q1 7 1 13.5v27q0 6.5-2 13.5l103 78-110 190-118-50q-11 8-23 15t-24 12L590-80H370Zm70-80h79l14-106q31-8 57.5-23.5T639-327l99 41 39-68-86-65q5-14 7-29.5t2-31.5q0-16-2-31.5t-7-29.5l86-65-39-68-99 42q-22-23-48.5-38.5T533-694l-13-106h-79l-14 106q-31 8-57.5 23.5T321-633l-99-41-39 68 86 64q-5 15-7 30t-2 32q0 16 2 31t7 30l-86 65 39 68 99-42q22 23 48.5 38.5T427-266l13 106Zm42-180q58 0 99-41t41-99q0-58-41-99t-99-41q-59 0-99.5 41T342-480q0 58 40.5 99t99.5 41Zm-2-140Z"
            />
          </svg>
        </div>
      </div>
      <% } %>
    </div>
    <div id="darkener" onclick="closeNewServer()" style="display: none;"></div>
    <div id="std-menu" style="display: none;">
      <h1>New server</h1>
      <form action="/newserver">
        <p>Name</p>
        <input required type="text" name="name" />
        <div>
          <div>
            <p>Type</p>
            <select name="type">
              <option value="paper">Paper</option>
            </select>
          </div>
          <div>
            <p>Version</p>
            <select name="version">
              <% for(let i = 0;i<versions.paper.length;i++){ %>
              <option value="<%= versions.paper[i].version %>"><%= versions.paper[i].version %></option>
              <% } %>
            </select>
          </div>
        </div>
        <div>
          <div>
            <p>Gamemode</p>
            <select name="gamemode">
              <option value="survival">Survival</option>
              <option value="creative">Creative</option>
              <option value="hardcore">Hardcore</option>
            </select>
          </div>
          <div>
            <p>Difficulty</p>
            <select name="difficulty">
              <option value="hard">Hard</option>
              <option value="normal">Normal</option>
              <option value="easy">Easy</option>
              <option value="peaceful">Peaceful</option>
            </select>
          </div>
        </div>
        <p>Seed (optional)</p>
        <input type="text" name="seed"/>
        <p>Port</p>
        <input type="number" name="port" min="1" max="65535" pattern="/[0-9]" placeholder="25565" class="small-input" required/>
        <button type="submit">Create</button>
      </form>
    </div>
  </body>
  <script>
    const socket = io();

    <% for(let i = 0;i<serverData.length;i++){ %>
      socket.on("statusUpdate<%= i %>",(status) => changeStatus(<%= i %>,status))
    <% } %>
    socket.on("statusUpdate<%= serverData.length %>",() => location.reload())

    function changeStatus(num, status) {
      const elems = document.getElementsByClassName("server-status-color");
      elems[num].style.backgroundColor = statusToColor(status);
    }

    function statusToColor(s) {
      return [
       { s: "online", c: "lime" },
       { s: "offline", c: "grey" },
       { s: "starting", c: "cyan" },
       { s: "stopping", c: "cyan" },
       { s: "downloading", c: "yellow" },
     ].find((e) => e.s == s).c;
    }
  </script>
</html>
